doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    title nuga-zoom
  body 
    header
      h1 nuga-zoom
    main
      ul#chat-list
      form#nick-form
        input(id="nick-input" type="text" placeholder="write your nickname")
        button(type="submit") Save
      form#chat-form
        input(id="chat-input" type="text" placeholder="write a message" required)
        button(type="submit") Send
    script(src="/public/js/app.js")